<template name="genre_card">
  <div class="card">
    <div class="card-image">
      <img class="genre-add" src="{{avatar}}"/>
      <span class="card-title">
        {{name}}
      </span>
    </div>
    <div id="btn-add" class="card-action waves-effect waves-light btn card-btn light-blue darken-2 genre-add">
      <div>ADD</div>
    </div>
    <div id="btn-added" class="card-action waves-effect waves-light btn card-btn light-green darken-2 genre-add hide">
      <div>ADDED <i class="fa fa-check-square"></i></div>
    </div>
  </div>
</template>
