<template name="header">
  <div class="header row valign-wrapper">
    <div class="col s1">
      <a class="btn-floating btn waves-effect waves-light red darken-2">
        <i class="material-icons small">toc</i>
      </a>
    </div>


    <div class="col s10">
     <h4 class="center-align header-text">
       <a href="/">MUSIXIM</a>
     </h4> 
    </div>


    <div class="">
      <a id="spotify-sign-in" class="spotify-sign-in waves-effect waves-light btn light-green">
        <i class="fa fa-spotify"></i>
        <span class="spotify-text">
          Log In
        </span>
      </a>
    </div>

  </div>
</template>
