<template name="header">
  <div class="header row valign-wrapper">
    <div class="col m2">
      <a class="btn-floating btn waves-effect waves-light red darken-2">
        <i class="material-icons small">toc</i>
      </a>
    </div>


    <div class="col m8">
      <h4 class="center-align header-text">
        <a class="header-text" href="/">MUSIXIM</a>
      </h4>
    </div>


    <div class="col m2">
      {{#if currentUser }}
      <span class="center-align">
        <div>
          <a href="#">
            <img class="profile-picture" src="{{ profilePicture }}" />
            {{ currentUser.profile.display_name }}
          </a>
        </div>
      </span>
      {{else}}
      <a id="spotify-sign-in" class="spotify-sign-in waves-effect waves-light btn light-green">
        <i class="fa fa-spotify"></i>
        <span class="spotify-text">
          Log In
        </span>
      </a>
      {{ /if }}
    </div>

  </div>
</template>
