<template name="sidebar">
  <div class="sidebar">

    <div class="sidebar-menu">
      <a class="btn-floating btn waves-effect waves-light red darken-2 sidebar-menu-btn">
        <i class="mdi-navigation-menu"></i>
      </a>
    </div>

    {{#if currentUser }}
    <div class="sidebar-menu">
      <ul>
        <li>
          <input placeholder="Search" id="search" name="search" type="text" class="validate">
        </li>
        <li>
          <a href="/genres">Make Me A Playlist</a>
        </li>
        <li>
          <div class="sidebar-header">My Playlists</div>
        </li>

        {{#each usersPlaylists }}
        <li>
          <div class="sidebar-item">
            <a href="#"> <i class="fa fa-music sidebar-item"></i> {{ name }} </a>
          </div>
        </li>

        {{/each}}
      </ul>
    </div>
    <div class="sidebar-menu sidebar-footer">
      <ul>
        <li><a id="logout" href="/"> Logout </a></li>
      </ul>
    </div>
    {{ /if }}

  </div>
</template>
