<template name="sign_in">
  <div class="sign-in-title">
    <h4 class="center-align header-text">
      <span class="header-text">MUSIXIM</span>
    </h4>
  </div>

  <div class="center-align">
    <div class="sign-in-container">
      <h4 class="sign-in-header"> Sign In </h4>
      <a class="waves-effect waves-light btn light-green btn-signin" style="">
        <i class="fa fa-spotify"></i> Sign In With Spotify
      </a>
      <p class="register-sub-text">
      Don't have an account? <a href="#" class="btn-signin"> Register </a> it's free.
      </p>
    </div>
  </div>
</template>
