body {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  .right {
    float: right;
  }
  .left {
    float: left;
  }
  .jquery-hide {
    display: none;
  }
  .content-body{
    background-color: rgba(75,75,75, 0.7);
    color: white;
  }
}
