div.header {
  padding: 0px 5px;
  border-bottom: 1px solid #eee;
  background-color: rgb(252, 252, 252);
  margin-bottom: 0;
  box-shadow: #000 0px 0px 15px;
  .header-text {
    font-family: 'Quicksand', sans-serif;
    color: black;
  }
  .profile-picture {
    width: 25px;
    border: 1px solid rgba(25,25,25, 0.3);
    vertical-align: bottom;
    margin: 0px 10px;
  }
  .spotify-text {
    padding-left: 5px;
  }
  .spotify-sign-in {
    margin-right: 22px
  }
}
