div.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 99999;
  top: 0;
  background-color: rgb(24,24,24);
  color: #fff;
  .sidebar-menu {
    margin: 13px 15.5px;

    .sidebar-item {
      margin: 7px;
    }
  }
  .sidebar-header {
    letter-spacing: 0.2rem;
    font-style: italic;
    font-weight: bolder;
  }
}
div.sidebar-close {
  height:100%;
  width:100%;
  position:fixed;
  z-index: 99998;
  top: 0;
}
